body{
            background-color: rgb(25, 25, 25);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .title{
            font-size: 50px;
            font-weight: bold;
        }
        .move-icon{
            height: 70px;
            
        }
        .move-button{
            background-color: transparent;
            border: 4px solid white;
            width: 150px;
            height: 150px;
            border-radius: 75px;
            margin-right: 15px;
            cursor: pointer;
        }
        .result{
            font-size: 30px;
            font-weight: bold;
            margin-top: 50px;
        }
        .moves{
            font-size: 20px;
            font-weight: bold;
        }
        .score{
            margin-top: 50px;
            font-size: 20px;
            font-weight: bold;

        }
        .reset-score{
            background-color: white;
            border: none;
            font-size: 20px;
            padding: 10px 15px;
            cursor: pointer;
        }